.navbar{
    opacity: 0;
}
hr {
    padding-top:1vh;
    width: 20vw;
}


header #typed {
    font-size: 2em;
    display:flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar-brand {
    font-size: 1.5em;
}

#more {
    margin-top: 2em;
}

#more div {
    margin: 0;
}

.navbar-brand img {
    width: 50px;
    margin:0;
}

.navbar-default {
    font-size: 1.5em;
    padding: 0 2vw;
}


/* hero */
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    height: 100vh;
    /* background-color: rgba(0,0,0,1); Black background with opacity */
}

.page-header {
    border-bottom-color: rgba(0, 0, 0, 0.39);
}


/* about me */

#about {
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-image: url(../img/aboutme.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.3);        
}

#about .row div {
    padding: 0 5em;
}

#about .title {
    color: white;
    padding-bottom: 2em;
}

#about p {
    color: white;
}

#about .container {
    padding-top: 5%;
    padding-bottom: 5%;
}


#about img {
    padding: 0 2em;
}


/* portfolio */

#portfolio {
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-image: url(../img/portfolio.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.616);   
}

#portfolio .container-fluid {
    padding: 5% 5%;
}

#portfolio .project {
    padding: 0;
}

#portfolio .project div {
    margin: 1em;
}

#portfolio .project div img {
    box-shadow: 3px 3px 3px #888888;
    max-width: 100%;
}

#portfolio .project div p {
    padding-top: 1em;
    font-size: 2em;
}

#portfolio .project div img:hover {
    box-shadow: 10px 10px 8px #888888;
    transform: translate(-10px, -10px);
    transition: transform 0.2s;
}

#portfolio hr {
    border-top: 1px solid rgb(145, 145, 145);
}

/* footer */



#contact {
    background-color: rgb(199, 199, 199);
}

#contact li {
    padding: 4em 8em;
}

#contact .icons {
    margin: 3vh auto;
}

#contact p {
    font-size: 1.5em;
}

#contact li a {
    text-decoration: none;
}

#contact li a:hover {
    transform: scale(1.5);
    transition: transform 0.5s;
}

#contact hr {
    border-top: 1px solid rgb(145, 145, 145);
}
